<app-progress-bar *ngIf="progressBar" class="backgroundchange"></app-progress-bar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef> Nationality </th>
        <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
    </ng-container>

    <ng-container matColumnDef="maritialStatus">
        <th mat-header-cell *matHeaderCellDef> Maritial Status </th>
        <td mat-cell *matCellDef="let element"> {{element.maritialStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef> Qualification </th>
        <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
    </ng-container>

    <ng-container matColumnDef="subjectsYouCanTeach">
        <th mat-header-cell *matHeaderCellDef> SubjectsYouCanTeach </th>
        <td mat-cell *matCellDef="let element"> {{element.subjectsYouCanTeach}} </td>
    </ng-container>

    <ng-container matColumnDef="experienceOfTeaching">
        <th mat-header-cell *matHeaderCellDef> ExperienceOfTeaching </th>
        <td mat-cell *matCellDef="let element"> {{element.experienceOfTeaching}} </td>
    </ng-container>

    <ng-container matColumnDef="Canceled">
        <th mat-header-cell *matHeaderCellDef> Rejected </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon>clear</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>