<div class="head">
    <h1>Your Subjects And Subject Teacher</h1>
    <div class="table">
        <table border=2>
         <tr><td style="text-align: center;font-weight:750;font-family:sans-serif;">Subject</td>
            <td style="text-align: center;font-weight:750;font-family:sans-serif;">Teacher</td></tr>
         <tr><td style="text-align: center;" >Hindi</td><td style="text-align: center;">Chetan Bhagat</td></tr>
         <tr><td style="text-align: center;">English</td><td style="text-align: center;">Miss Pooja</td></tr>
         <tr><td style="text-align: center;">Maths</td><td style="text-align: center;">Aryabhatta</td></tr>
         <tr><td style="text-align: center;">Science</td><td style="text-align: center;">Albert</td></tr>
         <tr><td style="text-align: center;">S.S.T</td><td style="text-align: center;">R.Bisht</td></tr>
         <tr><td style="text-align: center;">Computer</td><td style="text-align: center;">Chetna Rawat</td></tr>
         <tr><td style="text-align: center;">Physical Education</td><td style="text-align: center;">Kandari</td></tr>
        </table>
    </div>
    </div>
