<div class="background-image">
  <img src="../../../assets/images/logo.jpg">
  <div class="reset">
    <mat-card class="example-card">
      <form id="reset" [formGroup]="resetpass" (submit)="submitform()">
        <h1>Reset Password</h1><br><br>

        <mat-form-field appearance="standard">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password" minlength="4" maxlength="8"
            autocomplete="off" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="Password.touched && !Password.valid">
            <span *ngIf="Password.errors?.required">
              Password is required
            </span>
            <span *ngIf="Password.errors?.minlength">
              min 4 characters required
            </span>
            <span *ngIf="Password.errors?.maxlength">
              max 8 characters required
            </span>
          </mat-error>
        </mat-form-field><br>

        <button id="submit-btn" type="submit" [disabled]="resetpass.invalid">Reset</button>
      </form>
    </mat-card>
  </div>
</div>
<app-progress-bar></app-progress-bar>