<div class="background-image">
  <img  src="../../../assets/images/logo.jpg">
  <div class="reset">
    <mat-card class="example-card">
      <form id="reset" [formGroup]="resetpass" (submit)="submitform()">
        <h1>Reset Password</h1><br><br>

        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput placeholder="enter your new password" formControlName="Password">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="Password.touched && !Password.valid">
            <span *ngIf="Password.errors?.required">
              Password is required
            </span>
            <span
              *ngIf="!Password.errors?.minlength"
            >
            Password min length 4
            </span>
            <span
            *ngIf="!Password.errors?.maxLength"
          >
          Password max length 8
          </span>
          </mat-error>
        </mat-form-field><br>

        <button type="submit" [disabled]="resetpass.invalid">Reset</button>
        <app-progress-bar *ngIf="progressBar" class="backgroundchange"></app-progress-bar>
      </form>
    </mat-card>
  </div>
</div>