*{
    user-select: none;
}
mat-icon{
    float: right;
    cursor: pointer;
}
.main-container h1{
    font-size: 30px;
}
.btn{
    width: 100% !important;
    display: flex;
}
button{
    width: 130px;
    margin-left: 2%;
}