  <div class="background-image">
  <img src="../../../assets/images/logo.jpg">
  <div class="forget">
    <mat-card class="example-card">
      <form id="forgetpassword" [formGroup]="forgetpassword" (submit)="submitform()">
        <h1>Forget Password</h1>
        <mat-form-field appearance="standard">
          <mat-label>ContactNo</mat-label>
          <input matInput placeholder="enter your Contact_No" formControlName="ContactNo">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="ContactNo.touched && !ContactNo.valid">
            <span *ngIf="ContactNo.errors?.required">
              ContactNo is required
            </span>
            <span
              *ngIf="!ContactNo.errors?.required && ContactNo.errors?.minlength"
            >
            Invalid contact no
            </span>
          </mat-error>
        </mat-form-field><br>
        <button type="submit">submit</button>
        <button *ngIf="showreset"><a href="./resetpassword" [disabled]="forgetpassword.Invalid">Reset</a></button>
        <button *ngIf="showsignup"><a href="./register" [disabled]="forgetpassword.Invalid">Sign Up</a></button>
        <app-progress-bar *ngIf="spinner" class="backgroundchange"></app-progress-bar>
      </form>
    </mat-card>
  </div>
</div>