  <div class="main-container">
  <img src="../../../assets/images/logo.jpg">
  <div class="forget">
    <mat-card class="example-card">
      <form id="forgetpassword" [formGroup]="forgetpassword" (submit)="submitform()">
        <h1>Forget Password</h1>
        <mat-form-field appearance="standard">
          <mat-label>ContactNo +91 Included</mat-label>
          <input type="text" matInput formControlName="ContactNo" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="ContactNo.touched && !ContactNo.valid">
            <span *ngIf="ContactNo.errors?.required">
              ContactNo is required
            </span>
            <span *ngIf="ContactNo.errors?.pattern">
              ContactNo is invalid
            </span>
          </mat-error>
        </mat-form-field><br>
        <button type="submit">submit</button>
        <button *ngIf="showreset" [disabled]="!forgetpassword.valid"><a href="./resetpassword">Reset</a></button>
      </form>
    </mat-card>
  </div>
</div>
<app-progress-bar></app-progress-bar>
