.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    }
mat-paginator{
    background-color: rgba(35, 35, 35, 0.571);
    color: #fff;
}
mat-tab-group{
    margin-bottom: 10% !important;
}