<div class="login-box">
  <img src="../../../assets/images/logo.jpg">

  <mat-card class="example-card">
    <form id="login" [formGroup]="loginform" (submit)="submit()">
      <h1>Login</h1>

      <div class="example-container">
        <mat-form-field appearance="standard">
          <mat-label>Enter your email</mat-label>
          <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" matInput placeholder="pat@example.com" formControlName="Email">
           <mat-error>Valid email is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="standard">
          <mat-label>Enter your password</mat-label>
          <input  matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button type="submit" [disabled]="loginform.invalid">login</button>
      <span style="margin-left: 17.3em;"><a routerLink='/Registeration'>Don't_have_a_account</a></span><br>
      <span style="margin-left: 17.3em;"><a routerLink='/Forget-password'>ForgetPassword?</a></span><br>
      <app-progress-bar *ngIf="spinner" class="backgroundchange"></app-progress-bar>
    </form>
  </mat-card>
</div>