<div class="login-box">
  <img src="../../../assets/images/logo.jpg">

  <mat-card class="example-card">
    <form id="login" [formGroup]="loginform">
      <h1>Login</h1>

      <div class="example-container">
        <mat-form-field appearance="standard">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="Email" autocomplete="off" required>
          <mat-error *ngIf="Email.touched && !Email.valid">
            <span *ngIf="Email.errors?.required">
              Email is required
            </span>
            <span *ngIf="Email.errors?.pattern">
              Invalid Email
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="standard">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password" minlength="4" maxlength="8"
            autocomplete="off" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="Password.touched && !Password.valid">
            <span *ngIf="Password.errors?.required">
              Password is required
            </span>
            <span *ngIf="Password.errors?.minlength">
              min 4 characters required
            </span>
            <span *ngIf="Password.errors?.maxlength">
              max 8 characters required
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <button (click)="onSubmit()" type="submit">login</button>
      <span style="margin-left: 17.3em;"><a routerLink='/Registeration'>Don't_have_a_account</a></span><br>
      <span style="margin-left: 17.3em;"><a routerLink='/Forget-password'>ForgetPassword?</a></span><br>
      <app-progress-bar *ngIf="progressBar" class="backgroundchange"></app-progress-bar>
    </form>
  </mat-card>
</div>