<form >
    fdafdd
    <div class="row custom-card">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="customerDealType"
                placeholder="Customer Deal Type"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="customerId"
                placeholder="Customer ID"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <button mat-stroked-button color="primary">Retrive</button>
            &nbsp;
            <button mat-stroked-button color="primary" >Lookup</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="creditId"
                placeholder="Credit ID"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <button mat-stroked-button color="primary">Retrive</button>
            &nbsp;
            <button mat-stroked-button color="primary" >Lookup</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="corpId"
                placeholder="Corp ID"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <button mat-stroked-button color="primary">Retrive</button>
            &nbsp;
            <button mat-stroked-button color="primary">Lookup</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="grid-hr"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="corpName"
                placeholder="Corp Name"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="firstName"
                placeholder="First Name"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="middleName"
                placeholder="Middle Name"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="lastName"
                placeholder="Last Name"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="userId"
                placeholder="User ID"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="marketerId"
                placeholder="Marketer ID"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="bankName"
                placeholder="Bank Name"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="grid-hr"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="customerSource"
                placeholder="Customer Source"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="referredBy"
                placeholder="Referred By"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="grid-hr"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="pickupLocation"
                placeholder="Sales Manager Pickup Location"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
  
      <div class="col-md-7">
  
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="stockId"
                placeholder="Stock ID"
              />
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button mat-stroked-button color="primary">Retrive</button>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="availabilityStatus"
                placeholder="	Availability Status"
              />
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button mat-stroked-button color="primary">Lookup</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <mat-label>Delivery Date</mat-label>
              <input
                matInput
                formControlName="deliveryDate"
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <mat-label>Actual Sale Date</mat-label>
              <input
                matInput
                formControlName="actualSaleDate"
                [matDatepicker]="picker2"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="sellingPrice"
                placeholder="Selling Price"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="agreedDown"
                placeholder="Agreed Down"
              />
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="grid-hr"></div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="totalTrade"
                placeholder="Total Trade"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="tradeIN"
                placeholder="Trade IN"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="tradeINSalesTaxCredit"
                placeholder="Trade IN Sales Tax Credit"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="tradeINPayoff"
                placeholder="Trade IN Payoff"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="tradeINBankName"
                placeholder="Trade IN Bank Name"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="tradeInAccount"
                placeholder="Trade-In Account"
              />
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="grid-hr"></div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="docFee"
                placeholder="Doc Fee"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="inspectionfee"
                placeholder="Inspection Fee"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="commissionFee"
                placeholder="Commission Fee"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="registrationFee"
                placeholder="Registration Fee"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="bankFee"
                placeholder="Bank Fee"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="warranty"
                placeholder="Warranty"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="NonTaxableAdds"
                placeholder="Non-Taxable Adds"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="taxableAdds"
                placeholder="Taxable Adds"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="salesTaxCounty"
                placeholder="Sales Tax County"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="salesTaxRate"
                placeholder="Sales Tax Rate"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="salesTaxAmount"
                placeholder="Sales Tax Amount"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                formControlName="balanceDue"
                placeholder="Balance Due"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
  