<!-- <div class="profile">
    <img src="../../../assets/images/user.png">
    <form id="profile" [formGroup]="getprofile" (submit)="submitForm()">
        <h2>Your profile</h2>
        <input type="text" value="" formControlName="UserId" hidden><br>
        <input type="text" value="{{profileData.f_name}} {{profileData.l_name}}" formControlName="UserId"><br>
        <input type="text" value="{{profileData.email}}" formControlName="E_Mail"><br>
        <input type="text" value="{{profileData.contact}}" formControlName="Contact_No"><br>
        <button type="submit">Save</button>
    </form>
</div> -->
profile