<div class="profile-info" *ngIf="Role == 'admin'">
    <div class="admin-image">
    <img src="../../../../assets/images/key.png">
    </div>
    <p>admin : SHUBHAM</p>
</div>

<div class="profile-info" *ngIf="Role == 'student'">
    <div class="user-image">
        <img style="margin-left:4.6em;" src="../../../../src/assets/images/unnamed.png">
    </div>
    <p>student : name</p>
</div>

<div class="profile-info" *ngIf="Role == 'teacher'">    
    <div class="user-image">
        <img src="../../../../assets/images/teacher.png">
    </div>
    <p>Teacher : name</p>
</div>

<mat-nav-list>
    <!-- ----------------------------------------ADMIN-------------------------------------------------------->
    <div *ngIf="Role == 'admin'">
     <a mat-list-item [routerLink]="['/teacher-joining-form-approval']" >joining form approval</a>
     <a mat-list-item [routerLink]="['/admin-student']">students</a>
     <a mat-list-item [routerLink]="['/admin-teacher']">teachers</a>
     <a mat-list-item [routerLink]="['/admin-class']" >classes</a>
     <a mat-list-item [routerLink]="['/admin-result']">result</a>
     <a mat-list-item [routerLink]="['/admin-salary']">teacher's - salary</a>
     <a mat-list-item [routerLink]="['/admin-fee-structure']">fee - structure</a>
    </div>
    <!-- ----------------------------------------STUDENT---------------------------------------------------->
    <div *ngIf="Role == 'student'">
    <a mat-list-item [routerLink]="['/student-home']">Home</a>
    <a mat-list-item [routerLink]="['/student-Admission_form']">Admission Form</a>
    <a mat-list-item [routerLink]="['/student-profile']">Profile</a>
    <a mat-list-item [routerLink]="['/student-subject']">Subjects</a>
    <a mat-list-item [routerLink]="['/student-upcoming-events']">Upcoming events</a>
    <a mat-list-item [routerLink]="['/student-my-assignment']">my assignments</a>
    <a mat-list-item [routerLink]="['/student-time-table']">Time Table</a>
    <a mat-list-item [routerLink]="['/student-result']">result</a>
    </div>

    <!-- ----------------------------------------TEACHER-------------------------------------------------->

    <div *ngIf="Role == 'teacher'">
    <a mat-list-item [routerLink]="['/teacher-home']">Home</a>
    <a mat-list-item [routerLink]="['/teacher-joining-form']">Joining Form</a>
    <a mat-list-item [routerLink]="['/teacher-profile']">Profile</a>
    <a mat-list-item [routerLink]="['/teacher-time-table']">Time Table</a>
    </div>
</mat-nav-list>
