<form [formGroup]="approvedForm">
    <div class="main-container">
        <div class="close-icon">
            <mat-icon [mat-dialog-close]="true">close</mat-icon>
        </div><br><br>
        <div class="form-field">
            <mat-form-field>
                <mat-label>Classes You Will Teach</mat-label>
                <mat-select matInput formControlName="ClassesYouWillTeach" multiple>
                    <mat-option *ngFor="let selectClass of classes " [value]="selectClass.value">
                        {{selectClass.value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="ClassesYouWillTeach.touched && !ClassesYouWillTeach.valid">
                    <span *ngIf="ClassesYouWillTeach.errors?.required">
                        This field is required
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field>
                <mat-label>Periods You Will Teach</mat-label>
                <mat-select matInput formControlName="YourPeriods" multiple>
                    <mat-option *ngFor="let selectPeriod of periods" [value]="selectPeriod.value">
                        {{selectPeriod.value}}
                    </mat-option>
                </mat-select><br><br>
                <mat-error *ngIf="YourPeriods.touched && !YourPeriods.valid">
                    <span *ngIf="YourPeriods.errors?.required">
                        This field is required
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="btn">
            <button mat-flat-button type="reset">reset</button>
            <button mat-raised-button color="primary" (click)="onSubmit()">submit</button>
        </div>
    </div>
</form>
<app-progress-bar></app-progress-bar>
