<mat-toolbar>
    <button matTooltip="Home" mat-icon-button class="example-icon" (click)="home()">
        <mat-icon>home</mat-icon>
    </button>
    <span style="color: black;"></span>
    <span class="example-spacer"></span>
    
    <button mat-button [matMenuTriggerFor]="animals"
    matTooltip="Login | Register"
    >
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #animals="matMenu">
        <button mat-menu-item (click)="login()">Login</button>
        <button mat-menu-item (click)="register()">Register</button>
    </mat-menu>

    <button mat-icon-button class="example-icon" matTooltip="Settings">
        <mat-icon (click)="settings()">settings</mat-icon>
    </button>
</mat-toolbar>