<div class="main-body">
  <form id=joiningform [formGroup]="joiningform" (submit)="submit()">
    <h2 style="margin-left:25em;margin-top: 1em;margin-bottom: 2em;">Joining Form</h2>

    <mat-form-field appearance="standard">
      <mat-label>FirstName</mat-label>
      <input matInput placeholder="enter your first name" formControlName="FirstName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="FirstName.touched && !FirstName.valid">
        <span>
          FirstName is required
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>LastName</mat-label>
      <input matInput placeholder="enter your last name" formControlName="LastName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="LastName.touched && !LastName.valid">
        <span>
          LastName is required
        </span>
      </mat-error>
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>DOB</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="DOB">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>cake</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="DOB.touched && !DOB.valid">
        <span>
          DOB is required
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Age</mat-label>
      <input matInput placeholder="enter your age" formControlName="Age">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="Age.touched && !Age.valid">
        <span>
          Age is required
        </span>
      </mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="standard">
      <mat-label>Enter your email</mat-label>
      <input  matInput placeholder="pat@example.com" formControlName="Email" required>
      <mat-error *ngIf="joiningform.controls.Email.invalid"></mat-error>
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="Email.touched && !Email.valid">
        <span *ngIf="Email.errors?.required">
          Email is required
        </span>
        <span *ngIf="Email.errors?.pattern">
          Invalid Email
        </span>
      </mat-error>
    </mat-form-field>
    
    <mat-radio-group aria-label="Select an option" formControlName="Gender">
      <label>Gender</label>
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
      <mat-radio-button value="Others">Others</mat-radio-button>
    </mat-radio-group><br>

    <mat-form-field appearance="standard">
      <mat-label>ContactNo</mat-label>
      <input matInput formControlName="ContactNo" required />
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Include area code</mat-hint>
      <mat-error *ngIf="ContactNo.touched && !ContactNo.valid">
        <span *ngIf="ContactNo.errors?.required">
          ContactNo is required
        </span>
        <span *ngIf="ContactNo.errors?.pattern">
          ContactNo is invalid
        </span>
      </mat-error>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="Cast">
      <label>Cast</label>
      <mat-radio-button value="General">General</mat-radio-button>
      <mat-radio-button value="SC/ST">SC/ST</mat-radio-button>
      <mat-radio-button value="OBC">OBC</mat-radio-button>
    </mat-radio-group><br>

    <mat-form-field appearance="standard">
      <mat-label>Address</mat-label>
      <input matInput placeholder="enter your address" formControlName="ADDRESS">
      <mat-icon matSuffix>house</mat-icon>
      <mat-error *ngIf="ADDRESS.touched && !ADDRESS.valid">
        <span>
          ADDRESS is required
        </span>
      </mat-error>
    </mat-form-field> 

    <mat-radio-group aria-label="Select an option" formControlName="Religion">
      <label>Religion</label>
      <mat-radio-button value="Hindu">Hindu</mat-radio-button>
      <mat-radio-button value="Christian">Christian</mat-radio-button>
      <mat-radio-button value="Muslim">Muslim</mat-radio-button>
    </mat-radio-group><br>

    <mat-form-field appearance="standard">
      <mat-label>Nationality</mat-label>
      <input matInput placeholder="enter your nationality" formControlName="Nationality">
      <mat-icon matSuffix>flag</mat-icon>
      <mat-error *ngIf="Nationality.touched && !Nationality.valid">
        <span>
          Nationality is required
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>MaritialStatus</mat-label>
      <mat-select formControlName="MaritialStatus">
        <mat-option value="married">Married</mat-option>
        <mat-option value="unmarried">Unmarried</mat-option>
      </mat-select>
      <mat-icon matSuffix>sentiment_neutral</mat-icon>
      <mat-error *ngIf="MaritialStatus.touched && !MaritialStatus.valid">
        <span>
          MaritialStatus is required
        </span>
      </mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="standard">
      <mat-label>Qualification</mat-label>
      <input matInput placeholder="enter your Qualification" formControlName="Qualification">
      <mat-icon matSuffix>school</mat-icon>
      <mat-error *ngIf="Qualification.touched && !Qualification.valid">
        <span>
          Qualification is required
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>SubjectsYouCanTeach</mat-label>
      <input matInput placeholder="enter Subjects_You_Can_Teach" formControlName="SubjectsYouCanTeach">
      <mat-icon matSuffix>subject</mat-icon>
      <mat-error *ngIf="SubjectsYouCanTeach.touched && !SubjectsYouCanTeach.valid">
        <span>
          SubjectsYouCanTeach is required
        </span>
      </mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="standard">
      <mat-label>Experience of teaching</mat-label>
      <mat-select formControlName="ExperienceOfTeaching">
        <mat-option value="Fresher">Fresher</mat-option>
        <mat-option value="Lessthen2year">Less then 2 year</mat-option>
        <mat-option value="Lessthen5years">Less then 5 years</mat-option>
        <mat-option value="Morethen10years">More then 10 years</mat-option>
      </mat-select>
      <mat-error *ngIf="ExperienceOfTeaching.touched && !ExperienceOfTeaching.valid">
        <span>
          ExperienceOfTeaching is required
        </span>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="warn" type="reset">Reset</button>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
<app-progress-bar></app-progress-bar>
