<div class="head">
    <h1>Fee According To Class</h1>
    <div class="table">
        <table border=2>
         <tr><td style="text-align: center;font-weight:750;font-family:sans-serif;">Class</td>
            <td style="text-align: center;font-weight:750;font-family:sans-serif;">Fee</td></tr>
         <tr><td >1<sup>st</sup> Class</td><td>1000 <span>&#x20B9;</span> per month Incl. Activities</td></tr>
         <tr><td>2<sup>nd</sup> Class</td><td>1200 <span>&#x20B9;</span> per month Incl. Activities</td></tr>
         <tr><td>3<sup>rd</sup> Class </td><td>1400 <span>&#x20B9;</span> per month Incl. Activities</td></tr>
         <tr><td>4<sup>th</sup> Class </td><td>1600 <span>&#x20B9;</span> per month Incl. Activities</td></tr>
         <tr><td>5<sup>th</sup> Class </td><td>1800 <span>&#x20B9;</span> per month Incl. Activities</td></tr>
         <tr><td>6<sup>th</sup> Class </td><td>2000 <span>&#x20B9;</span> per month / Music Class,Sports 2000 <span>&#x20B9;</span></td></tr>
         <tr><td>7<sup>th</sup> Class </td><td>2200 <span>&#x20B9;</span> per month / Music Class,Sports 2000 <span>&#x20B9;</span></td></tr>
         <tr><td>8<sup>th</sup> Class </td><td>2400 <span>&#x20B9;</span> per month / Music Class,Sports 2000 <span>&#x20B9;</span></td></tr>
         <tr><td>9<sup>th</sup> Class </td><td>2600 <span>&#x20B9;</span> per month / Music Class,Sports 2000 <span>&#x20B9;</span></td></tr>
         <tr><td>10<sup>th</sup> Class </td><td>2800 <span>&#x20B9;</span> per month / Music Class,Sports 2000 <span>&#x20B9;</span></td></tr>
         <tr><td>11<sup>th</sup> Class </td><td>3000 <span>&#x20B9;</span> per month / Music Class,Sports 2000 <span>&#x20B9;</span></td></tr>
         <tr><td>12<sup>th</sup> Class </td><td>3200 <span>&#x20B9;</span> per month / Music Class,Sports 2000 <span>&#x20B9;</span></td></tr>

        </table>
    </div>
    </div>
